<% if (typeof errors != 'undefined') { %> 
    <ul class="list-unstyled text-danger">
    <% errors.forEach((error) => { %>
        <li><strong><%= error.param %></strong>: <%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>